# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jupyter / Python
.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.env
.venv/
env/
venv/
ENV/

# Spark / Hive local execution
metastore_db/
derby.log
spark-warehouse/
checkpoint/
/local_disk0/

# Challenge specific
/docs/*.pdf
